<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Template for exemple</title>
</head>
<body>
<input type="text" id="text">
<button id="but">ClickMe!</button>
<div id="block">
	<ul>
				
	</ul>
</div>
<script type="text/template" id="contant">
		<li>title: <%= title %> || status: <%= status %></li>
</script>
<script src="script/jquery/jquery.min.js"></script>
<script src="script/underscore/underscore-min.js"></script>
<script src="script/backbone/backbone-min.js"></script>
<script src="src/code.js"></script>
</body>
</html>